# Dependencies
/node_modules

#upload_data
/uploads

# Environment files
.env
.env.local

# Build artifacts
/build
/dist
/tmp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS and Editor files
.DS_Store
Thumbs.db
.vscode
.idea
*.suo
*.user
*.lock
